@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin-top: 60px;
    padding: 0 4.5vw 0 4.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.popupActive::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 999; /* Asegura que la capa esté por encima del resto del contenido */
  }

