@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F6F4FF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0; 
    min-width: calc(100%);
    padding: 3vh 3vw;
    transition: 0.3s ease-in-out;
}

nav img{
    width: 10vw;
}

.hamburger {
    display: none;
}

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar-menu li,
.navbar-menu li a{
    text-decoration: none;
    color: #444444;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.navbar-menu li:hover,
.navbar-menu li a:hover,
.navbar-menu li a.active,
.navbar-menu li.active a,
.navbar-menu li.active{
    color: #C40E61
}

.navbar-menu li:hover::after,
.navbar-menu li a.active::after,
.navbar-menu li.active a::after,
.navbar-menu li.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #C40E61;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Estilos para el contenedor del dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .contenedorbtn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para el botón del dropdown */
  .dropbtn {
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para el contenido del dropdown (inicialmente oculto) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F6F4FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #444444;
    z-index: 1;
  }
  
  /* Estilos para los enlaces dentro del dropdown */
  .dropdown-content a {
    color: #444444;
    padding: 12px 16px;
    display: block;
  }
  
  /* Muestra el contenido del dropdown cuando el mouse está sobre el contenedor del dropdown */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .search-container {
    position: relative;
    background-color: white;
    height: 45px;
    border-radius: 20px;
    width: auto;
    display: flex;
  }
  
  input{
    border: none;
    background:none ;
    font-size: 15px;
    outline: none;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Ajusta según sea necesario */
    transform: translateY(-50%);
    color: #2203FF80; /* Color del ícono */
    
  }
  input[type="text"] {
    padding-left: 30px; /* Ajusta según el ancho del ícono más el espacio */
  }
  
  


@media screen and (max-width: 769px) {
    .navbar-menu {
      display: none;
    }
  
    .navbar-menu.active {
      left: 0;
      top: 10vh;
      padding: 10vh 5vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      height: 100vh;
      width: 100vw;
      background: #F6F4FF;
      transition: 0.3s ease-in-out;
    }
  
    .navbar-menu li {
      margin-bottom: 25px;
    }

    .hamburger {
      display: block;
      left: 2vw;
    }

    nav img{
        width: 20vw;
    }
}  