@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

main h2 {
    font-family: 'Inter', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
    display: flex;
    width: 100%;
}

.MovieCard_movieCard__F61WL h2 {
    font-size: 18px !important;
    padding: 10px !important;
}

span {
    display: inline-block;
    /*z-index: 1;*/
    margin-right:10px;
    font-size: clamp(0.7em,2.5vw,1em)
}